/*
all_films.css — стили для страницы со всеми фильмами:
- .films-container: сетка карточек фильмов, 4 колонки, центрирование, отступы.
- .filter-container, .filter-form: стили для фильтрации по жанру и дате.
- .date-filter, .date-card, .day-button: оформление фильтра по датам.
- .main-page-link, .personal-account-link: жирный текст для ссылок в header.
*/

.films-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* фиксируем 4 колонки */
    gap: 20px;
    padding: 20px;
    justify-items: center; /* Центрируем карточки в колонках */
    max-width: 1300px;     /* Ограничиваем ширину контейнера */
    margin: 0 auto;        /* Центрируем контейнер */
}
.filter-container {
    display: grid; /* Используем CSS Grid для размещения карточек */
    justify-content: center; /* Центрируем фильтр */
    grid-template-columns:  repeat(3, 1fr); 
    gap: 20px; /* Расстояние между карточками */
    padding: 20px; /* Внутренний отступ */
}

.filter-form {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.date-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.date-filter .month-nav {
    background-color: #4A6382;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
}

.date-filter .current-month {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
}

.date-filter .week-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.date-filter .day-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4A6382;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}

.date-filter .day-button span {
    display: block;
}

.date-filter .day-button:hover {
    background-color: #4A6382;
}

.date-filter .day-button.active {
    background-color: #5a7ab2;
}

.date-filter .day-button-group {
    display: flex;
    gap: 10px;
}

.date-filter .day-button:active {
    background-color: #5a7ab2;
}

.date-filter .day-button-group .day-button {
    outline: none;
}

.date-filter .day-button-group .day-button.active {
    pointer-events: none;
}

.date-card {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
}

.main-page-link, .personal-account-link {
    font-weight: bold; /* Делаем текст жирным для ссылок в header */
}
