body {
    display: block; /* Устанавливаем нормальный поток документа */
}
h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    color: white;
}
.container {
    max-width: 1200px;
    width: 100%;
    padding: 0;
    padding-bottom: 0px;
}
.films-link,
.personal-account-link {
    text-decoration: none;
    font-weight: bold;
}

/* Сетка карточек фильмов */
.films-container {
    display: grid; /* Используем CSS Grid для размещения карточек */
    grid-template-columns:  repeat(4, 1fr); 
    gap: 20px; /* Расстояние между карточками */
    padding: 20px; /* Внутренний отступ */
}

/* Стили для карточек фильмов */
.film-card {
    background-color: #E3C39D; /* Светлый фон карточки */
    border-radius: 30px; /* Скругление углов */
    padding: 20px; /* Внутренний отступ */
    box-shadow: 0 4px 6px rgb(176, 115, 0); /* Тень для карточки */
    text-align: center; /* Центрирование текста */
    transition: transform 0.3s ease; /* Плавный эффект при наведении */
}

.film-card:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
}

.film-card h2 {
    font-size: 1.2rem; /* Размер заголовка */
    margin-bottom: 10px; /* Отступ снизу */
    color: #1D1D1D; /* Цвет текста */
}

.film-card p {
    font-size: 1rem; /* Размер текста */
    margin: 5px 0; /* Отступы сверху и снизу */
    color: #333; /* Цвет текста */
}

.film-card .director {
    font-weight: bold; /* Жирный текст для стоимости */
    color: #4A6382; /* Цвет текста стоимости */
}

/* Стили для карточки с лозунгом */
.slogan-card {
    display: grid;
    justify-content: top;
    align-items: center;
    height: 25vh; /* Занимает 1/4 страницы */    
    background-color: #E3C39D; /* Светлый фон */
    border-radius: 30px; /* Скругленные углы */
    color: #1D1D1D; /* Темный текст */
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0px 0px 16px 16px rgba(237, 200, 122, 0.22); /* Тень для карточки */
    margin: 20px auto; /* Отступ сверху 20px и центрирование по горизонтали */
    width: 80%; /* Устанавливаем ширину для центрирования */
    margin-bottom: 20px; /* Отступ от карточек фильмов */
    margin-top: 120px; /* Увеличиваем отступ сверху для устранения наложения */
}

.slogan-card h1 {
    font-size: 2.5vw; /* Размер текста адаптируется под размер карточки */
    text-align: center; /* Центрируем текст */
    margin: 0; /* Убираем лишние отступы */
}
