<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Все фильмы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all_films.css') }}">
</head>
<body>
    <header class="header">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип" class="logo">
        <div class="button-wrapper">
            <a href="{{ url_for('all_films.all_films') }}" class="films-link button">Все фильмы</a>
            <a href="{{ url_for('main.main_page') }}" class="main-page-link button">Главная страница</a>
            <a href="{{ url_for('user_cabinet.personal_account') }}" class="personal-account-link button">Личный кабинет</a>
        </div>
    </header>
    <div class="container">

        <!-- Форма фильтрации -->
        <div class="filter-container">
            <form action="{{ url_for('all_films.all_films') }}" method="get" class="filter-form">
              <label for="genre">Жанр:</label>
              <select name="genre" id="genre">
                <option value="">Все жанры</option>
                {% for genre in genres %}
                <option value="{{ genre[0] }}">{{ genre[1] }}</option>
                {% endfor %}
              </select>
              <button type="submit" class="filter-button">Применить фильтр</button>
            </form>
        </div>

        <div class="films-container">
            {% for film in films %}
            <div class="film-card">
                <h2><a href="{{ url_for('film_card.film_card', title=film.title) }}">{{ film.title }}</a></h2>
                <p>{{ film.description }}</p>
                <p class="director">Режиссер: {{ film.director }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const buttons = document.querySelectorAll('.day-button');
        const dateInput = document.getElementById('selected-date');
        const dateForm = document.getElementById('date-form');

        buttons.forEach(button => {
            button.addEventListener('click', function() {
                buttons.forEach(btn => btn.classList.remove('active'));
                this.classList.add('active');
                dateInput.value = this.dataset.date;
                dateForm.submit();
            });
        });
    });
</script>
</body>
</html>
