<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Подтверждение бронирования - {{ session_info[4] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/booking_confirme.css') }}">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип" class="logo">
            <div class="button-wrapper">
                <a href="{{ url_for('all_films.all_films') }}" class="films-link button">Все фильмы</a>
                <a href="{{ url_for('user_cabinet.personal_account') }}" class="personal-account-link button">Личный кабинет</a>
                <a href="{{ url_for('main.main_page') }}" class="films-link button">Главная страница</a>
            </div>
        </header>
        <main>
            <div class="container">

                <div class="booking-details">
                    <h2>{{ session_info[4] }}</h2>
                    <div class="session-info">
                        <p class="date">Дата: {{ session_info[1].strftime('%d.%m.%Y') }}</p>
                        <p class="time">Время: {{ session_info[2].strftime('%H:%M')}}</p>
                    </div>

                    <div class="selected-seats">
                        <h3>Выбранные места:</h3>
                        <ul>
                            {% for seat in selected_seats %}
                            <li>Ряд {{ seat[1] }}, Место {{ seat[2] }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="price-summary">
                        <p class="price-per-ticket">Цена за билет: {{ session_info[3] }} ₽</p>
                        <p class="total-price">Итого к оплате: {{ total_price }} ₽</p>
                    </div>
                </div>
                <a href="{{ url_for('payment.confirme_payment', booking_id=['booking_id']) }}" class="films-link button">Заказать</a>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-content">
                <div class="footer-logo">
                    <div class="footer-logo-title">Кинотеатр</div>
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип" class="footer-logo-img">
                </div>
                <div class="footer-contacts">
                    <h3>Контакты</h3>
                    <div>Телефон: +7 (999) 123-45-67</div>
                    <div>Email: info@cinema.ru</div>
                    <div>Адрес: г. Москва, ул. Легендарная, 1</div>
                </div>
                <div class="footer-social">
                    <h3>Социальные сети</h3>
                    <a href="https://vk.com" target="_blank">VK</a>
                    <a href="https://telegram.org" target="_blank">Telegram</a>
                    <a href="https://instagram.com" target="_blank">Instagram</a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>