<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Подтверждение бронирования - {{ session_info[4] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/booking_confirm.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Подтверждение бронирования</h1>
            <nav>
                <a href="{{ url_for('main.main_page') }}" class="nav-link">Главная страница</a>
                <a href="{{ url_for('all_films.all_films') }}" class="nav-link">Все фильмы</a>
                <a href="{{ url_for('user_cabinet.personal_account') }}" class="nav-link">Личный кабинет</a>
            </nav>
        </div>

        <div class="booking-details">
            <h2>{{ session_info[4] }}</h2>
            <div class="session-info">
                <p class="date">Дата: {{ session_info[1] }}</p>
                <p class="time">Время: {{ session_info[2]}}</p>
                <p class="duration">Продолжительность: {{ session_info[5] }} минут</p>
            </div>

            <div class="selected-seats">
                <h3>Выбранные места:</h3>
                <ul>
                    {% for seat in selected_seats %}
                    <li>Ряд {{ seat[1] }}, Место {{ seat[2] }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="price-summary">
                <p class="price-per-ticket">Цена за билет: {{ session_info[3] }} ₽</p>
                <p class="total-price">Итого к оплате: {{ total_price }} ₽</p>
            </div>

            <a href="{{ url_for('payment.confirme_payment', booking_id=['booking_id']) }}" class="payment-link">Перейти к оплате</a>
        </div>
    </div>

   
</body>
</html>