<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Подтверждение бронирования - {{ session_info[4] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/booking_confirme.css') }}">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <a href="{{ url_for('main.main_page') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип" class="logo">
            </a>
            <div class="button-wrapper">
                <a href="{{ url_for('all_films.all_films') }}" class="films-link button">Каталог</a>
                <a href="{{ url_for('main.main_page') }}" class="main-page-link button">Главная страница</a>
                <a href="{{ url_for('user_cabinet.personal_account') }}" class="personal-account-link button">Личный кабинет</a>
            </div>
        </header>
        <main>
            <div class="container">

                 <div class="booking-details-flex">
                    <div class="booking-card booking-title-card">
                        <h2 class="booking-title">{{ session_info[4] }}</h2>
                    </div>
                    <div class="booking-info-row">
                        <div class="booking-card booking-info-card">
                            <div class="booking-info-label">Дата</div>
                            <div class="booking-info-value">{{ session_info[1].strftime('%d.%m.%Y') }}</div>
                        </div>
                        <div class="booking-card booking-info-card">
                            <div class="booking-info-label">Время</div>
                            <div class="booking-info-value">{{ session_info[2].strftime('%H:%M') }}</div>
                        </div>
                        <div class="booking-card booking-info-card">
                            <div class="booking-info-label">Цена за 1 билет</div>
                            <div class="booking-info-value">{{ session_info[3] }} ₽</div>
                        </div>
                    </div>
                    <div class="booking-card booking-seats-list">
                        <div class="booking-info-label">Выбранные места</div>
                        <div class="selected-seats-cards">
                            {% for seat in selected_seats %}
                            <div class="selected-seat-card">Ряд {{ seat[1] }}, Место {{ seat[2] }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="booking-card booking-summary-total">
                        Итого <span>{{ total_price }}</span> ₽
                    </div>
                </div>
                <a href="{{ url_for('payment.confirme_payment', booking_id=['booking_id']) }}" class="confirm-booking-btn">Заказать</a>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-content">
                <div class="footer-logo">
                    <div class="footer-logo-title">Кинотеатр</div>
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип" class="footer-logo-img">
                </div>
                <div class="footer-contacts">
                    <h3>Контакты</h3>
                    <div>Телефон: +7 (999) 123-45-67</div>
                    <div>Email: info@cinema.ru</div>
                    <div>Адрес: г. Москва, ул. Легендарная, 1</div>
                </div>
                <div class="footer-social">
                    <h3>Социальные сети</h3>
                    <a href="https://vk.com" target="_blank">VK</a>
                    <a href="https://telegram.org" target="_blank">Telegram</a>
                    <a href="https://instagram.com" target="_blank">Instagram</a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>