<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <header class="header">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип" class="logo">
            <div class="button-wrapper">
                <a href="{{ url_for('all_films.all_films') }}" class="films-link button">Каталог</a>
                <a href="{{ url_for('user_cabinet.personal_account') }}" class="personal-account-link button">Личный кабинет</a>
                <a href="{{ url_for('main.main_page') }}" class="films-link button">Главная страница</a>
            </div>
    </header>
    <div class="container">
        <div class="card">
            <div class="card-title-section">
                <h1>Вход</h1>
            </div>
            <form method="POST" action="{{ url_for('auth.login', next=next) }}">
                <div class="input-section">
                    <input type="text" class="input" name="email" placeholder="Логин" required>
                    <input type="password" class="input" name="password" placeholder="Пароль" required>
                </div>
                <div>
                    <button type="submit" class="login-btn button" id="login-btn" disabled>Войти</button>
                </div>
                <div class="login-link">
                    Нет аккаунта? <a href="{{ url_for('auth.register') }}">Зарегистрироваться</a>
                </div>
            </form>
        </div>
    </div>
    <script>
        // Включение кнопки входа только при заполнении всех полей
        function checkForm() {
            const email = document.getElementsByName('email')[0].value.trim();
            const password = document.getElementsByName('password')[0].value.trim();
            const btn = document.getElementById('login-btn');
            btn.disabled = !(email && password);
        }
        window.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('input').forEach(input => {
                input.addEventListener('input', checkForm);
            });
            checkForm();
        });
    </script>
</body>
</html>
