<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Главная страница</h1>
        <nav>
            <a href="{{ url_for('all_films.all_films') }}" class="films-link">Все фильмы</a>
            <a href="{{ url_for('user_cabinet.personal_account') }}" class="personal-account-link">Личный кабинет</a>
        </nav>
    </div>

    <div class="films-container">
        {% for film in films %}
        <div class="film-card">
            <h2><a href="{{ url_for('film_card.film_card', title=film[0]) }}">{{ film[0] }}</a></h2>
            <p>{{ film[1] }}</p>
            <p class="director">Стоимость {{film[2]}}</p>
        </div>
        {% endfor %}
</body>
</html>