<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header class="header">
        <div class="button-wrapper">
            <a href="{{ url_for('all_films.all_films') }}" class="films-link button">Все фильмы</a>
            <a href="{{ url_for('user_cabinet.personal_account') }}" class="personal-account-link button">Личный кабинет</a>
        </div>
    </header>
    <div class="container">
        <div class="slogan-card">
            <h1>Добро пожаловать в наш кинотеатр!</h1>
        </div>

        <div class="films-container">
            {% for film in films %}
            <div class="film-card">
                <h2><a href="{{ url_for('film_card.film_card', title=film[0]) }}">{{ film[0] }}</a></h2>
                <p>{{ film[1] }}</p>
                <p class="director">Стоимость: {{ film[2] }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
