<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/payment.css') }}">
</head>
<body>
    <div class="header">
        <h1>Все фильмы</h1>
        <nav>
            <a href="{{ url_for('main.main_page') }}" class="main-page-link">Главная страница</a>
            <a href="{{ url_for('user_cabinet.personal_account') }}" class="personal-account-link">Личный кабинет</a>
        </nav>
    </div>
    <p>При дальнейшем развитии проекта будет добален платёжный сервис, на данный момент мы его не сделали</p>
    <p>Вы можете оплатить билет в кассе кинотеатра</p>
    <p>Спасибо за понимание</p>
</body>
</html>